@page
@model QuestPdfExample.WebUI.Pages.CreatePdfModel
@{
}

<form action="#" method="post" asp-antiforgery="true" autocomplete="on">
	<textarea rows="10" asp-for="PdfText" style="width:90%;"></textarea><br />
	<input type="submit" value="Pdf'e' Çevir" />
</form>
